/*  Table  */

table {
  width: 100%;
}

.header_row {
  background: #FFF;
  color: #000;
  white-space:nowrap;
}

.header_cel {
  border: 1px solid transparent;
  border-bottom: 1px solid #EEE;  
  font-weight: bold;
}

.hover_table_row {
  background-color: #d6e9f8;
}

.table_row {
  white-space:nowrap;
}

/* layout */

.container {
  width: 99%;
}


